.canvasContainer
{
    position: relative;
    border-style: solid;
    border-color: #2d9ac2;
    border-width: 2px;
}

.canvasContainer canvas
{
    position: absolute;
    left: 0px;
    top: 0px;
}